main {
    max-width: 500px;
    margin-right:auto;
    margin-left: auto;
    height:400px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

li {
    float: left;
}

header{
    height: 100px;
    width:400px;
}
#alpha1{
    border-width: 500px;
    margin-bottom: 1%;

}

#alpha2{
    float:left
}

#Alpha3{
  float:right;
    width:29%;
}

#Alpha4{
    width: 41%;
    float:right;
}

#Alpha5{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    width: 960px;
}