main {
    width: 500px;
    margin-right:auto;
    margin-left: auto;
    height:400px;
    display:flex;

}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

li {
    float: left;
}

#alpha1{
    float:left;
}

#alpha2{
    float:right;
}

#Alpha3{
  float:left;
}

#Alpha4{
width: 33%;
}

#Alpha5{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    width: 960px;
}