body{
    max-width: 650px;
    margin-right: auto;
    margin-left: auto

}

header {
    flex-direction: column;
    display: flex;
}

#lyda{
    height: 200px;
    width: 200px;
}
#content{
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 10px;



}
#blog{
    float: right;
    margin-right: 0px;
}
main{
    display: flex;
    justify-content: center;
}

li{
    float: left;
}
li a{
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 10px;
    text-decoration: none
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
#footer{
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;