body {
    border: 2px dashed blue;
    overflow: hidden;
    background-color:white;
}
#form{
    background-color: yellow;
}
#h1{
    background-color: blanchedalmond;
    align:center;
}

 #h2 {
     font-style: oblique;
     color: blue;
 }
#todo1 {
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
}

#lyso {
    width: 300px;
    float: left;
    margin-left:1%;
    padding: 1%;
}

#rosa {
    width: 300px;
    display: inline-block;
    margin-top:25%;
    }

#paso {
    width: 300px;
    float: right;
    margin-top: 25%;
    padding-left: 1%;
}

#tof1 {
    max-width:960px;
    padding-bottom: 29%;
    margin-bottom: 20%;

}
#mosa{
    width: 300px;
    float: left;
    margin:10px;
    padding:1%;
}

#vosa{
    width:25%;
    float: right;
    margin:1%;
    padding:1%;
}
#tof2 {
    width: 240px;
    display: inline-block;
    margin: 1%;
    padding: 1%;
}

#tonia{
  clear: both;
    background-color: #363636;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    width: 960px;
    padding-top: 5px;
 }